input[type=range] {
  -webkit-appearance: none;
  width: 115%;
  background: transparent;
  margin-top:20px;
  margin-left: 0.83333em;
  margin-right: 0.83333em;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 22px;
  width: 12px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: rgba(246,246,246,.1);
  border-radius: 1.3px;
  border: 0.2px solid rgba(190,190,190,.5);
}

.VolumeSliderLabel {
  text-align:center;
  line-height: 60px;
  background-color:white;
  color:black;
  font-weight:bold;
}